# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Cara a Cara.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\Cara a Cara\.idea\.idea.Cara a Cara\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
