# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.2021-REDES-Cara-a-Cara.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\2021-REDES-Cara-a-Cara\.idea\.idea.2021-REDES-Cara-a-Cara\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
